@import url(./fonts.css);

#mainWindow .resultsContainer #selectIcon {
    /* Config start */
    --plus_sideLength: 5rem;
    --plus_topRightTriangleSideLength: 1.3rem;
    /* Config end */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #000000;
    overflow: hidden;
}

#mainWindow .resultsContainer #selectIcon::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

#mainWindow .resultsContainer #selectIcon:hover {
    cursor: pointer;
}

#mainWindow .resultsContainer #selectIcon:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

#mainWindow .resultsContainer #selectIcon:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

#mainWindow .resultsContainer #selectIcon>.selectIcon {
    fill: white;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

#mainWindow .resultsContainer #selectIcon:hover>.selectIcon {
    fill: black;
    transform: rotate(180deg);
}

#mainWindow .resultsContainer #selectIcon:focus-visible>.selectIcon {
    fill: black;
    transform: rotate(180deg);
}

/*!BinButton */ /*!BinButton */ /*!BinButton */ /*!BinButton */
/*!BinButton */ /*!BinButton */ /*!BinButton */ /*!BinButton */

#mainWindow .resultsContainer #bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 15px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 3px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
}

#mainWindow .resultsContainer #bin-button .bin-bottom {
    width: 15px;
}

#mainWindow .resultsContainer #bin-button .bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
}

#mainWindow .resultsContainer #bin-button:hover .bin-top {
    transform: rotate(45deg);
}

#mainWindow .resultsContainer #bin-button:hover {
    background-color: rgb(255, 0, 0);
}

#mainWindow .resultsContainer #bin-button:active {
    transform: scale(0.9);
}

#mainWindow .resultWindow .submit {
    font-family: Poppins-Regular;
    position: relative;
    justify-self: flex-end;
    width: max-content;
    display: flex;
    align-items: center;
    margin: 0 7px 10px 0;
    padding: 8px 25px;
    border: 2px solid;
    border-color: transparent;
    background-color: inherit;
    border-radius: 100px;
    color: greenyellow;
    box-shadow: 0 0 0 2px greenyellow;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 2;
}

#mainWindow .resultWindow .submit svg {
    position: absolute;
    width: 17px;
    fill: greenyellow;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

#mainWindow .resultWindow .submit .arr-1 {
    right: 16px;
}

#mainWindow .resultWindow .submit .arr-2 {
    left: -25%;
}

#mainWindow .resultWindow .submit .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

#mainWindow .resultWindow .submit .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 1.2rem;
}

#mainWindow .resultWindow .submit:hover {
    font-family: Poppins-SemiBold;
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
    margin: 0 7px 8px 0;
}

#mainWindow .resultWindow .submit:hover .arr-1 {
    right: -25%;
}

#mainWindow .resultWindow .submit:hover .arr-2 {
    left: 16px;
}

#mainWindow .resultWindow .submit:hover .text {
    transform: translateX(12px);
}

#mainWindow .resultWindow .submit:hover svg {
    fill: #212121;
}

#mainWindow .resultWindow .submit:active {
    font-family: Poppins-Bold;
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
}

#mainWindow .resultWindow .submit:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}
