:root {
	--light-gray: #f5f4ef;
	--gray: #e0e0e0;

	--white: #fefded;
	--dark-white: #eae9d7;

	--lighter-red: #F9A1A1;
	--light-red: #fa7070;
	--vivid-red: #FF2400;
	--medium-red: #d55656;
	--dark-red: #822727;

	--light-green: #c6ebc5;
	--medium-green: #a1c398;
	--dark-green: #7a9b78;
	--olive-green: #3c4c24;
	--forest-green: #264e36;

	--light-yellow: #f4e8b4;
	--medium-yellow: #f6d78d;
	--dark-yellow: #ffc107;

	--sand: #e8d8c3;
	--dark-sand: #e3c7a7;

	--brown: #5c4033;

	--electric-blue: #007BFF;
	--sky-blue: #00A3E0;
	--light-blue: #a8d8ea;
	--medium-blue: #85afc2;
	--dark-blue: #2C3E50;

	--light-black: #2f4f4f;
	--medium-black: #333333;
}

@font-face {
	font-family: "Poppins-Black";
	src: url("../../assets/fonts/Poppins-Black.ttf");
}

@font-face {
	font-family: "Poppins-BlackItalic";
	src: url("../../assets/fonts/Poppins-BlackItalic.ttf");
}

@font-face {
	font-family: "Poppins-Bold";
	src: url("../../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
	font-family: "Poppins-BoldItalic";
	src: url("../../assets/fonts/Poppins-BoldItalic.ttf");
}

@font-face {
	font-family: "Poppins-ExtraBold";
	src: url("../../assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
	font-family: "Poppins-ExtraBoldItalic";
	src: url("../../assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
	font-family: "Poppins-ExtraLight";
	src: url("../../assets/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
	font-family: "Poppins-ExtraLightItalic";
	src: url("../../assets/fonts/Poppins-ExtraLightItalic.ttf");
}

@font-face {
	font-family: "Poppins-Italic";
	src: url("../../assets/fonts/Poppins-Italic.ttf");
}

@font-face {
	font-family: "Poppins-Light";
	src: url("../../assets/fonts/Poppins-Light.ttf");
}

@font-face {
	font-family: "Poppins-LightItalic";
	src: url("../../assets/fonts/Poppins-LightItalic.ttf");
}

@font-face {
	font-family: "Poppins-Medium";
	src: url("../../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
	font-family: "Poppins-MediumItalic";
	src: url("../../assets/fonts/Poppins-MediumItalic.ttf");
}

@font-face {
	font-family: "Poppins-Regular";
	src: url("../../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family: "Poppins-SemiBold";
	src: url("../../assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
	font-family: "Poppins-SemiBoldItalic";
	src: url("../../assets/fonts/Poppins-SemiBoldItalic.ttf");
}

@font-face {
	font-family: "Poppins-ThinItalic";
	src: url("../../assets/fonts/Poppins-ThinItalic.ttf");
}

@font-face {
	font-family: "Poppins-Thin";
	src: url("../../assets/fonts/Poppins-Thin.ttf");
}