@import url(./fontsColor.css);

#recordsTab {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#mainWindow {
	display: inline-grid;
	width: 100%;
	height: 100%;
	max-height: 84vh;
	grid-template-columns: 1fr 1fr;
	margin: auto 0 auto 0;
	padding: 10px;
}

#mainWindow .resultWindow {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: auto 1fr auto;
	position: relative;
	align-items: start;
	text-align: center;
	border-inline-start: 3px solid transparent;
	border-block-start: 3px solid transparent;
	overflow-y: hidden;
	overflow-x: hidden;
}

#mainWindow .resultWindow .title {
	font-family: Poppins-Regular;
	color: var(--medium-black);
	background-color: var(--white);
	max-width: max-content;
	padding-top: 12px;
	margin: -15px auto 0px auto;
	z-index: 1;
}

#mainWindow .resultWindow::before,
#mainWindow .resultWindow::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#mainWindow .resultWindow::before {
	top: 15px;
	left: 0;
	border-inline-start: 3px solid;
	border-block-start: 3px solid;
	border-image-source: radial-gradient(
		circle at top left,
		var(--medium-blue),
		transparent 23%
	);
	border-image-slice: 1;
}

#mainWindow .resultWindow::after {
	bottom: 0;
	right: 0;
	border-inline-end: 3px solid;
	border-block-end: 3px solid;
	border-image-source: radial-gradient(
		circle at bottom right,
		var(--medium-blue),
		transparent 23%
	);
	border-image-slice: 1;
}

#mainWindow .resultWindow .noResults {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
	opacity: 20%;
}

#mainWindow .resultWindow .noResults li {
	font-family: Poppins-SemiBoldItalic;
	font-size: 1.5em;
}

#mainWindow .resultWindow .noResults img {
	width: 50%;
}

#mainWindow .resultsContainer {
	display: grid;
	max-height: 99%;
	overflow-y: scroll;
	overflow-x: hidden;
	grid-auto-flow: row;
	grid-template-rows: auto;
	padding: 5px;
	margin: 0;
}

#mainWindow .resultsContainer::-webkit-scrollbar {
	display: none;
}

/* Non-selected state */
#mainWindow .resultsContainer .agentBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: max-content;
	margin: 5px;
	background-color: var(--gray);
	border-radius: 1em;
	padding: 2px 5px 2px 5px;
	position: relative;
	overflow: hidden;
	transition: all 0.7s ease;
}

#mainWindow .resultsContainer #selected:has(#invalid) {
	background-color: var(--dark-sand);
}

#mainWindow .resultsContainer #selected:has(#valid) {
	background-color: var(--medium-green);
}

#mainWindow .resultsContainer .agentInfo {
	font-family: Poppins-SemiBold;
	color: var(--medium-black);
	display: flex;
	flex-direction: column;
	text-align: left;
	flex: 1;
	margin: 7px;
}

#mainWindow .resultsContainer #selected .agentInfo:has(#invalid) {
	color: var(--brown);
}

#mainWindow .resultsContainer #selected .agentInfo:has(#valid) {
	color: var(--dark-blue);
}

#mainWindow .resultsContainer .agentInfo .details {
	font-family: Poppins-Regular;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/*! Right Window Settings */

#mainWindow .resultWindow .noResults #Doc {
	width: 40%;
}

#rightWindow .agentBox .agentInfo .nameTime {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#rightWindow .resultsContainer .agentBox:has(#bin-up) {
	background-color: var(--dark-sand);
}
