/** @format */
/* @font-face {
    // font-family: ;
    // src: url();
}*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* background-color: ; */
}

#searchEngine {
  position: sticky;
  padding: 10px;
  margin: auto 0 auto 0;
  display: flex;
  flex-direction: column;
}
#searchEngine #searchBar {
  display: flex;
  flex-direction: row; /* Arrange the radio selector and input side by side */
  align-items: center; /* Vertically center the items */
  padding: 0.5rem;
  border: 2px solid #818cf8;
  border-radius: 0.5rem;
  background-color: #e8e8e8;
  width: 100%;
}
#searchEngine #searchBar label {
  font-size: 1.5rem;
  color: #818cf8;
  font-weight: 700;
  margin-left: 7px;
  background: #e8e8e8;
}
#searchEngine #searchBar input[type=text].input {
  padding: 11px 10px;
  font-size: 1.5rem;
  border: 2px #818cf8 none;
  border-radius: 5px;
  background: #e8e8e8;
  flex-grow: 1; /* Allow input to take the remaining space */
  margin-left: 1rem; /* Spacing between radio buttons and input */
}
#searchEngine #searchBar input[type=text].input:focus {
  outline: none;
}
#searchEngine #searchBar #user-selector {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between radio items */
}
#searchEngine #searchBar #user-selector .radio {
  text-align: center;
}
#searchEngine #searchBar #user-selector .radio input {
  display: none;
}
#searchEngine #searchBar #user-selector .radio .name {
  cursor: pointer;
  padding: 0.5rem;
  color: rgb(51, 65, 85);
  border-radius: 0.5rem;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
#searchEngine #searchBar #user-selector .radio input:checked + .name {
  background-color: black;
  font-size: larger;
  color: #fff;
  font-weight: 600;
  border-color: #fff;
}
#searchEngine #searchBar .LupaBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  border: 2px rgba(129, 141, 248, 0.6196078431) dotted;
  border-radius: 50%;
  cursor: pointer;
  width: 3em;
  height: 3em;
}
#searchEngine #searchBar .Lupa {
  font-size: 1.6em;
  color: #818df8;
}

#formsWindow {
  display: inline-grid;
  width: 100vw;
  height: 60vh;
  grid-template-columns: 1fr 1fr;
  margin: auto 0 auto 0;
  padding: 10px;
}
#formsWindow .resultWindow {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr;
  align-items: start;
  text-align: center;
  position: relative; /* Needed for positioning the pseudo-element */
  border-inline-start: 3px solid transparent; /* Make borders transparent */
  border-block-start: 3px solid transparent; /* Make borders transparent */
}
#formsWindow .resultWindow .title {
  margin-top: -8px;
}
#formsWindow .resultWindow::before,
#formsWindow .resultWindow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent interactions */
}
#formsWindow .resultWindow::before {
  top: 0;
  left: 0;
  border-inline-start: 3px solid;
  border-block-start: 3px solid;
  border-image-source: radial-gradient(circle at top left, #818df8, transparent 23%);
  border-image-slice: 1;
}
#formsWindow .resultWindow::after {
  bottom: 0;
  right: 0;
  border-inline-end: 3px solid;
  border-block-end: 3px solid;
  border-image-source: radial-gradient(circle at bottom right, #818df8, transparent 23%);
  border-image-slice: 1;
}
#formsWindow .resultsContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto;
  height: 100%;
  padding: 5px;
  margin: 0;
  gap: 10px;
}
#formsWindow .resultsContainer .icon-and-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8vh;
  margin: 5px;
  border: 2px black solid;
  border-radius: 1em;
  padding: 2px 5px 2px 5px;
}
#formsWindow .resultsContainer .newRegist {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  height: 8vh;
  flex: 1;
  margin-left: 7px;
}
#formsWindow .resultsContainer .newRegist .supportingRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#formsWindow .resultsContainer #plusButton {
  /* Config start */
  --plus_sideLength: 5rem;
  --plus_topRightTriangleSideLength: 1.3rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #000000;
  overflow: hidden;
}
#formsWindow .resultsContainer #plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
#formsWindow .resultsContainer #plusButton:hover {
  cursor: pointer;
}
#formsWindow .resultsContainer #plusButton:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}
#formsWindow .resultsContainer #plusButton:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}
#formsWindow .resultsContainer #plusButton > .plusIcon {
  fill: white;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
#formsWindow .resultsContainer #plusButton:hover > .plusIcon {
  fill: black;
  transform: rotate(180deg);
}
#formsWindow .resultsContainer #plusButton:focus-visible > .plusIcon {
  fill: black;
  transform: rotate(180deg);
}
#formsWindow .resultsContainer #bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}
#formsWindow .resultsContainer #bin-button .bin-bottom {
  width: 15px;
}
#formsWindow .resultsContainer #bin-button .bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}
#formsWindow .resultsContainer #bin-button:hover .bin-top {
  transform: rotate(45deg);
}
#formsWindow .resultsContainer #bin-button:hover {
  background-color: rgb(255, 0, 0);
}
#formsWindow .resultsContainer #bin-button:active {
  transform: scale(0.9);
}/*# sourceMappingURL=oldstyle.css.map */